.container {
  width: 640px; height: 480px;
  margin: 0; padding: 0;
  position: relative;

  canvas {
    width: 100%;
    height: 100%;
  }

  #fps {
    font-family: sans-serif;
    color: #FFF;
    position: absolute;
    right: 10px; top: 10px;
  }
}
